<h1> Tiny App </h1>

<% if (user){ %>
  <form class="form-inline" action="/logout" method="POST">
    <div class="form-group mb-2">
      <h5><%= user.email %></h5>
      <button type="submit" class="btn btn-primary">Logout</button>
    </div>
  </form>
<% } else { %>

  <div class="form-inline">
    <a href='/register'><button type="submit" class="btn btn-primary" style="margin-right: 0.5em">Register</button></a>
    <a href='/login'><button type="submit" class="btn btn-primary">Login</button></a>
  </div>

<% } %>